html{
    font-family: Helvetica;
    background-color: #5D4037;  
}

.container {
    max-width: 1100px;
    background-color: #F5F5DC;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* header */
.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
    color: #2D3436;
}

.main-p {
    font-style: italic;
}

/*  Imagem de Destaque */
.featured-image {
    text-align: center;
    margin-top: 30px;
}

.featured-image .img-size{
    max-width: 100%;
    height: auto;
}

/* biografia */
.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.biography-container .color-title{
    color: #2D3436;
}

/* Quotes */
.quotes-container {
    background-color: #D7CCC8;
    padding: 30px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

/* Curiosidades */
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1 px dashed #ddd;
}

.curiosities-container .color-title {
    color: #2D3436;
}

.curiosities-container li {
    height: 30px;
    margin-top: 20px;
}

/* Imagem bold */
.img-bold {
    font-weight: bold;
    text-align: center;
}

.img-bold .img-size {
    max-width: 100%;
    height: auto;
}